@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');


:root {
    --margin-top: 120px;
    --fontsize: 16px;
    --fontweight: 400;
    --heading-fontsize: 33px;
    --heading-fontweight: 700;
    --heading-fontheight: 65px;
    --line-height: 24px;
    ;



}


/* ====================FOR MEDIA QUERIES==================== */


:root {
    --slineheight: 12px;
    --sfontsize: 12px;
    --sfontweight: 200px;
    --sheading-fontsize: 20px;
    --sheading-fontweight: 500px;
    --sheading-lineheight: 30px;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    /* background-color: black;  */
    font-family: 'Poppins', sans-serif;
    /* border: 1px solid red; */
}

.navbar-toggler:focus {
    box-shadow: none !important;

}



.hamburger {
    cursor: pointer;
}

.hamburger input {
    display: none;
}

.hamburger svg {
    /* The size of the SVG defines the overall size */
    height: 3em;
    /* Define the transition for transforming the SVG */
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
    fill: none;
    stroke: white;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    /* Define the transition for transforming the Stroke */
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
    stroke-dasharray: 12 63;
}

.hamburger input:checked+svg {
    transform: rotate(-45deg);
}

.hamburger input:checked+svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
}




.navbar {
    width: 100%;
    transition: background-color 0.3s ease-in-out;
}

.navbar.scrolled {
    background-color: black;
    opacity: 0.9;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
    padding: 1px;
    color: #FFFFFF;
}

.hoverimg {
    margin: 0px;
    padding: 0px;
}

.for_border {
    border-bottom: 1px solid rgba(255, 255, 255, 0.293);

}


.nav-item {
    padding-right: 75px;
    opacity: 0.8;
}

.hoverimg {
    position: relative;
    display: inline-block;
}

.hoverimg img {
    transition: filter 0.3s ease-in-out;
}

.navlogo img {
    padding: 0px;
    margin-top: -10px;
    border-radius: none;
}

.hoverimg:hover img {
    filter: brightness(20%) saturate(180%) hue-rotate(180deg);
    background-color: #1e1ee2;

}

.navbar-brand{
    line-height: 24px;
}


.navbar-nav .nav-link:hover {

    color: #1a7dfe !important;
}

/*====================== HERO_SECTION===================== */


.hero-section {
    /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)); */
    /* position: relative; */
    /* top: 0;
    left: 0; */
    /* width: 100%;
    height: 100%; */
    background: url('./bg.jpg') rgba(0, 0, 0, 0.5);
    background-position: center center;
    background-repeat: no-repeat;

    background-size: cover;
    background-blend-mode: overlay;
    min-height: 100vh;


}

/* .hero-section img {
    position: absolute;
    top: 0;
    left: 0;      
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -999;

} */

.icon {
    margin: 3px;
}

.hometext {

    font-size: var(--fontsize);
    padding: 150px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.heading {
    padding-top: 110px;
    width: 45rem;
    color: white;
    font-weight: 700;
    font-size: 66px;
    line-height: 85px;
    margin: 40px;
    /* margin-top: 140px; */

}

.para {
    /* margin: 16px; */
    font-size: var(--fontsize);

    color: white;

    font-weight: var(--fontweight);
    margin-top: 6px;
}

#homebtn {
    font-size: var(--fontsize);
    font-weight: var(--fontweight);
    padding-top: 90px;
}

.homebutn {
    padding: 12px 45px;
    font-size: var(--fontsize);
    text-transform: uppercase;
    color: #FFFFFF;
    background: #10468C;
    border: none;
    font-weight: var(--fontweight);
    transition: background-color 0.3s ease-in-out;


}

.homebutn:hover {
    background: #FFFFFF;
    color: #10468C;


}

.headingtext {
    display: flex;
    justify-content: center;
    margin-top: 0px;


}


.headingtext p {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
    margin: 0px;
    width: 40%;
}





/* ======================END HERO_SECTION=================== */








/* =================ABOUT======================= */
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.AH {
    font-size: var(--fontsize);
    font-weight: var(--fontweight);
    text-align: center;
    width: 50%;
    line-height: var(--heading-fontheight);

}

.AH h2 {
    padding-bottom: 10px;
    color: #10468C;
    font-family: 'Poppins';
    font-style: normal;
    font-size: var(--heading-fontsize);
    font-weight: var(--heading-fontweight);
    line-height: var(--heading-fontheight);

    text-align: center;
}

.AH p {

    text-align: justify;
    font-size: var(--fontsize);
    font-weight: var(--fontweight);
    line-height: var(--line-height);
    margin-top: 25px;

}




/* ==========================VIDEO CONTAINER=============== */
.video-container {
    width: 100%;
    /* max-width: 600px; */
    margin-top: 40px;
}

.video-container video {
    width: 100%;
    height: auto;
}

/* =====================END VODEO CONTAINER================== */









/* ======================CARDS========================== */
.card-img-top {
    margin-top: -150px;
    padding: 40px;
}

.card-container {
    margin-top: 200px;
    padding-top: 100px;
}

.card {
    border-radius: none;
    /* margin-bottom: 100px; */
}

.card-body {
    margin: 20px;
    text-align: justify;
    margin-bottom: 0px;
    margin-top: 0px;



}

.row>* {
    width: 0;
    max-width: 0;
}

.card-title {
    padding-bottom: 20px;
}

.for_s_margin {
    margin: 0px 20px 0px 20px !important;
    background: #10468C !important;
}

.card-text {
    font-size: var(--fontsize);
    font-weight: var(--fontweight);
    line-height: var(--line-height);
    padding-bottom: 20px;
}

.butn {
    color: #ffff;
    text-decoration: none;
    padding-top: 20px;
    font-size: 14px;
    font-weight: var(--fontweight);

    padding-bottom: 0px;
}

.butn:hover {
    color: #ffffff81;
}

/* ===========================END CARD CONTAINER========================= */







/* =========================IMAGES CONTAINER =============================== */
.imagescontainer {
    margin-top: 200px;
}



.imgbox {

    position: relative;
    width: 100%;
    padding: 3px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 97.5%;
    height: 97.5%;
    margin: 5px;
    background-color:#10468C;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 5px;
    text-align: justify;
    cursor: pointer;
}

.overlaytext {
    margin: 50px;

}

.overlay h5 {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 40px;
    font-weight: 400;


}

.overlay p {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;

}

.imgbox:hover .overlay {
    opacity: 0.8;
}

.lastbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.btn1 {
    border: 2px solid #10468C;
    color: #10468C;
    background: none;
    margin-top: 12px;
    padding: 12px 45px;
    font-size: var(--fontsize);
    font-weight: var(--fontweight);
    line-height: var(--line-height);
    transition: background-color 0.3s ease-in-out;







}

.btn1:hover {
    background-color: #0A2C5A;
    color: #FFFFFF;

}

/* ========================END IMAGES CONTAINER==================== */







/* ==============================LAST TEXT=========================== */
.lastheading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: justify;
}

.lasttext {
    font-size: var(--fontsize);
    font-weight: var(--fontweight);
    line-height: var(--line-height);
    text-align: justify;
}

.lasttext h4 {


    margin-top: 210px;
    font-size: var(--heading-fontsize);
    font-weight: var(--heading-fontweight);
    line-height: var(--heading-fontheight);
    color: #10468C;
}

.ltext {
    display: flex;

}

.texticon {


    display: flex;
    flex-direction: column;

}

.ltext p {
    font-size: 18px;
    line-height: 24px;
}

.texticon a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.lastA:hover {
    color: #0f4285b1;
}


/* =======================END LAST TEXT==================================== */








/* =============================FOOTER====================== */

footer {
    margin-top: 106px;
    background: #10468C;
    padding-top: 20px;


}

.footersection {
    padding-top: 70px;

    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 70px;


}

.info {
    width: 50%;

    text-align: justify;
    font-size: var(--fontsize);
    font-weight: var(--fontweight);
    line-height: var(--line-height);
    padding-right: 160px;



}

.fh1 {
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 24px;
    padding: 30px;
    padding: 30px;
    padding-left: 0px;
    margin-bottom: 20px;
}

.fpara {
    padding-bottom: 30px;
    margin-right: 170px;

}

.detail {
    color: #fff;
    text-align: justify;
    margin-bottom: 35px;


}

.detail h4 {

    margin: 0px;
    margin-right: 170px;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
}

.detail p {
    color: #FFFFFF;
    text-decoration: none;
    padding-top: 7px;
    margin-right: 170px;
}

.detail p a {
    color: #FFFFFF;
    text-decoration: none;
}

.detail p a:hover {
    color: #ffffff8e;
}

.address {
    width: 200px;
}


.navigation {
    color: #fff;
}

.navig {
    padding: 0px 4px 10px 3px;

}

.navig h5 {
    font-size: 18px;
    font-weight: 600;
    line-height: 40px;
}



.leg {
    padding-top: 45px;
}

.leg h5 {
    /* padding-bottom: 10px; */
    font-size: 18px;
    font-weight: 600;
    line-height: 40px;
}

.leg ul li {
    list-style: none;
    margin: 0px;

    padding: 0px 0px 15px 0px;
}

.leg ul li a {

    font-size: var(--fontsize);
    line-height: var(--line-height);
    padding: 5px 0px 0px 0px;
    margin-left: -35px;
    text-decoration: none;
    color: #FFFFFF;
}

.leg ul li a:hover {
    color: #ffffffa7;
}

.nav-items {
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.nav-items li {
    margin: 8px;
    padding: 0px;
    list-style: none;
}

.nav-items li a {
    font-size: var(--fontsize);
    line-height: var(--line-height);
    padding: 5px 0px 0px 0px;
    margin-left: -40px;
    text-decoration: none;
    color: #FFFFFF;

}

.nav-items li a:hover {
    color: #ffffffac;
}

.leg h6 {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 40px;
}

.social {
    width: 25%;

}

.top {
    padding-bottom: 10px;
    margin-top: -40px;

}

.top h5 {
    font-size: 18px;
    font-weight: 600;
}

.logos {
    padding-bottom: 0px 0px;

}






.imghover {
    position: relative;
    display: inline-block;
}

.imghover {
    transition: filter 0.3s ease-in-out;
}

.imghover:hover {
    cursor: pointer;
    filter: brightness(80%) saturate(180%) hue-rotate(180deg);

}





.email-input {
    background: #10468C;
}


#news {
    margin-top: 200px;
    line-height: 40px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    padding: 48px 0px 0px 0px;
    color: #FFFFFF;
    overflow: hidden;
}


.email-subscription {
    display: flex;
    align-items: center;
    margin: 10px 0px;

}

.email-input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ffffff;
    color: #FFFFFF;

}

.email-input::placeholder {
    color: #FFFFFF;
    padding-left: 10px;
    font-size: 15px;
}

.subscribe-button {

    padding: 10px 10px;
    color: #10468C;
    background: #ffffff;
    border: 1px solid #ffffff;


    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease-out;


}

.subscribe-button:hover {
    background-color: #0A2C5A;
    color: white;
}











.cardimage {
    width: 100px;

}